#carrusel-caja {
    animation: automatizacion 8s infinite linear;
    transition: all 0.75s ease;
    height: 100%;
    width: 300%;
}
#carrusel-contenido {
    box-shadow: 0px 0px 880px 34px rgba(205, 186, 255, 0.16);
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    border-radius: 2rem;
}
.imagenes{
    border-radius: 2rem;
    height: 100%;
    width: 100%;
}
.carrusel-elemento {
    float: left;
    width: 33.3333%;
}
@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@media screen and (min-width:768px){
    #carrusel-contenido {
        width: 32%;
    }
}