@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
.seccion0{
    padding-top: 10rem;
    padding-bottom: 3rem;
    margin-bottom: -3rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(34,30,44,1) 14%, rgba(0,0,0,1) 53%, rgba(0,0,0,1) 64%, rgba(0,0,0,1) 100%); 
}
.seccion0>.comprarahora{
    font-size: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    color: rgb(201, 201, 201);
    text-decoration:underline;
    font-weight: 100;
    transition: 150ms;
}
.seccion0>.comprarahora:hover{
    font-size: 1.2rem;
    transition: 200ms;
}
.seccion0 img{
    padding: 2rem;;
    width: 50%;
}
.seccion2top{
    background: #639DCF;
    background: linear-gradient(to right, #79bffc 30%, #ff0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    padding: 3rem;
}
.seccion2{
    color: #fbfbfd;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.links2{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}
.links2>a{
    padding: 1rem;
    font-size: 1rem;
    margin: 1rem;
    color: rgb(255, 255, 255);
    transition: 200ms;
    background:linear-gradient(to right, black,rgb(70, 65, 101));
    border-radius: .4rem;
}
.links2>a:hover{
    background:linear-gradient(to right, black,rgb(99, 91, 148));
    color: #fbfbfd;
    text-decoration: none;
    border-radius: 1rem;
    transition: 100ms;
}
.seccion2 img{
    margin-top: 2rem;
    width: 80%;
    border-radius: 1rem;
}
.capacidad{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
    font-size: 1rem;
}
.capacidad ul{
    margin-left: 2rem;
    list-style: none;
    color: rgb(103, 103, 103);
    border-left:solid rgb(127, 127, 127) 2px ;
}
.seccion3{
    color: #fbfbfd;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dimensiones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
    font-size: 1rem;
}
.dimensiones ul{
    margin-left: 2rem;
    list-style: none;
    color: rgb(194, 194, 194);
    border-left:solid rgb(127, 127, 127) 2px ;
    flex-shrink: 0;
}
.seccioncarrusel{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.textocarrusel{
    background: #639DCF;
    background: linear-gradient(to left, #ff9494 1%, #d1bbec 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2rem;
}
.ventajas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.ventajastop{
    text-align: center;
    padding: 5rem;
    font-size: 5rem;
    background: linear-gradient(to left, #94a2ff 1%, #d1bbec 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tarjeta{
    box-shadow: 0px 0px 880px 34px rgba(205, 186, 255, 0.05);
    width: 80%;
    font-size: 1rem;
    font-weight: 100;
    border-radius: 2rem;
    background-color: rgb(0, 0, 0);
    margin-bottom: 2rem;
    text-align: center;
    color: #fbfbfd;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.tarjeta-top{
    padding: 3rem;
    border-top-right-radius: 1rem;
    border-top-left-radius:1rem ;
    background:linear-gradient(to right, rgb(0, 0, 0)30%,rgb(23, 22, 33));
    text-transform: uppercase;
}
.tarjeta-bottom{
    padding: 3rem;
    text-align:start;
    background: linear-gradient(to left, #94a2ff 1%, #d1bbec 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.seccionvideo{
    display: flex;
    flex-direction: column-reverse;
    justify-content:center;
    align-items: center;
}
.video img{
    margin-top: 10rem;
    border-radius: 2rem;
    width: 90%;
    margin-left: 2rem;
}
.textovideo{
    margin-top: 10rem;
    background: #639DCF;
    background: linear-gradient(to left, #ff9494 1%, #d1bbec 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2rem;
}
.seccion5{
    padding-top: 1rem;
    padding-bottom: 9rem;
    margin-bottom: -3rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(34,30,44,1) 14%, rgba(0,0,0,1) 53%, rgba(0,0,0,1) 64%, rgba(0,0,0,1) 100%); 
}
.seccion5 h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}
.contenedorTarjetas{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.tarjetasS5{
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: radial-gradient( #272943 1%, #080808 90%);
    color: #000000;
    width: 50%;
    padding: 2rem;

}
.tarjetasS5 img{
    width: 100%;
    padding-bottom: 2rem;
    border-radius: 2rem;
}
.tarjetasS5 h3{
    color: white;
}
.tarjetasS5 p{
    color: white;
    padding-top: 1rem;
    font-size: 1.2rem;
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.footer a{
    text-decoration: none;

}
.secfoot1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2rem;
    margin-right: 2rem;
}
.secfoot1 a{
    color: #000000;
    transition: 300ms;
}
.secfoot1 a:hover{
    font-size: 1.2rem;
    transition: 200ms;
}
.secfoot1>.foot1>ul{
    list-style: none;
}
.secfoot1>.foot2>ul{
    list-style: none;
}
.secfoot1 li{
    margin-top: 2rem;
}
.secfoot2{
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.foot3 a{
    color: #639DCF;
}
.foot4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color:#81878e;
}
.foot5{
    display: flex;
    flex-direction: row;
}
.foot5 ul{
    margin-left: -2rem;
    list-style: none;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: .8rem;
}
.foot5 li{
    color: #9580a9;
    margin-top: 2rem;
}
.foot5 a{
    color: #81878e;
}
.formulario{
    background-color: rgb(240, 240, 240);
    text-align: center;
    padding-top: 40px;
    padding-left: 100px;
    border-bottom: #000000;
   
}
.correo{
    padding-top: 20px;
    display: flex;
    text-align: right;
    justify-content: center;
    text-align: center;
   

}
.formulariolinks{
    margin-top: 2rem;
}

.formulariolinks>a{
    
    padding: 1rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background:linear-gradient(to right, black,rgb(70, 65, 101));
    border-radius: .4rem;
}
.formulariolinks>a:hover{
    background:linear-gradient(to right, black,rgb(99, 91, 148));
    color: #fbfbfd;
    text-decoration: none;
    border-radius: 1rem;
    transition: 200ms;
}
@media screen and (min-width:768px){
    .textovideo{
        font-size: 1.3rem;
        max-width: 34rem;
        text-align:start
    }
    .textocarrusel{
        font-size: 1.5rem;
        max-width: 34rem;
        text-align:start;
        width: 30%;
        margin-left: -10rem;
    }
    .seccioncarrusel{
        flex-direction: row;
        margin-left: -10rem;
    }
    .tarjeta{
        width:45%;
    }
    .ventajas{
        flex-direction: row;
        gap:2rem;
    }
    .contenedorTarjetas{
        flex-direction: row;
    }
    .tarjetasS5{
        width: 20%;
    }
}
@media screen and (min-width:1024px){
    .seccion0{
        font-size: 2.4rem;
    }
    .seccion0 img{
        width: 35rem;
    }
    .seccion2top{
        font-size: 2rem;
        margin-bottom: 3rem;
        margin-top: 10rem;
    }
    .seccion2top p{
        margin-top: 2rem;
    }
    .seccion2{
        flex-direction:row;
        justify-content: center;
        align-items: center;
    }
    .seccion2 img{
        width:40%;
        align-self: flex-start;
        margin-right: 2rem;
    }
    .seccion2-1{
        display: flex;
        flex-direction: column;
    }
    .capacidad{
        flex-shrink: 0;
        font-size: 1rem;
        width:fit-content;
    }
    .seccioncarrusel{
        margin-top: 10rem;
        flex-direction: row;
        padding: 2rem;
    }
    .seccioncarrusel{
        margin-left: -20rem;
    }
    .textocarrusel{
        font-size: 3rem;
        max-width: 34rem;
        text-align:start
    }
    .seccion0>.comprarahora{
        font-size: 1.6rem;
    }
    .ventajas{
        flex-direction: row;
        width: 100%;
    }
    .tarjeta{
        width: 30%;
        margin: 2rem;
    }
    .seccionvideo{
        flex-direction: row;
        padding: 3rem;
    }
    .textovideo{
        font-size: 2rem;
        max-width: 34rem;
        text-align:start
    }
    .navbar-right>.navbar-menu{
        display: none;
    }
    #menuocultoWeb{
        display: flex;
        justify-content: space-around;
        width: 100%;
        list-style: none;
        padding-left: 0;
    }
    #menuocultoWeb .menulinkWeb{
        font-size: 1.25rem;
        text-decoration: none;
        padding: 1rem;
        border-left: #e1e1e1;
        color: #000000;
        
    }
    .foot5 ul{
        justify-content: center;
        flex-direction: row;  
    }
    .foot5 li{
        padding-right: 3rem;
        padding-left: 3rem;
        border-right: solid grey 1px;
        border-left: solid grey 1px;
    }
    .contenedorTarjetas{
        flex-direction: row;
    }
    .tarjetasS5{
        width: 20%;
    }
}

