@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
.seccion0{
    padding-top: 10rem;
    padding-bottom: 3rem;
    margin-bottom: -3rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(34,30,44,1) 14%, rgba(0,0,0,1) 53%, rgba(0,0,0,1) 64%, rgba(0,0,0,1) 100%); 
}
.seccion0>.comprarahora{
    font-size: 1rem;
    background: radial-gradient(circle, rgb(23, 22, 26) 10%, rgb(2, 2, 2) 40%, rgb(0, 0, 0) 10%); 
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    color: rgb(201, 201, 201);
    text-decoration: none;
    font-weight: 100;
    transition: 150ms;
}
.seccion0>.comprarahora:hover{
    font-size: 1.2rem;
    transition: 200ms;
}
.seccion0 img{
    padding: 2rem;;
    width: 50%;
}
.seccion2top{
    background: #639DCF;
    background: linear-gradient(to right, #79bffc 30%, #ff0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    padding: 3rem;
}
.seccion2{
    color: #fbfbfd;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.links2{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    background-color: #000000;
}
.links2>a{
    padding: 1rem;
    font-size: 1rem;
    margin: 1rem;
    color: rgb(255, 255, 255);
    transition: 200ms;
    background:linear-gradient(to right, black,rgb(70, 65, 101));
    border-radius: .4rem;
}
.links2>a:hover{
    background:linear-gradient(to right, black,rgb(99, 91, 148));
    color: #fbfbfd;
    text-decoration: none;
    border-radius: 1rem;
    transition: 100ms;
}
.seccion2 img{
    margin-top: 2rem;
    width: 80%;
    border-radius: 1rem;
}
.capacidad{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
    font-size: 1rem;
}
.capacidad ul{
    margin-left: 2rem;
    list-style: none;
    color: rgb(103, 103, 103);
    border-left:solid rgb(127, 127, 127) 2px ;
}
.seccion3{
    color: #fbfbfd;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dimensiones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
    font-size: 1rem;
}
.dimensiones ul{
    margin-left: 2rem;
    list-style: none;
    color: rgb(194, 194, 194);
    border-left:solid rgb(127, 127, 127) 2px ;
}
.seccioncarrusel{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.textocarrusel{
    background: #639DCF;
    background: linear-gradient(to left, #ff9494 1%, #d1bbec 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2rem;
}
.seccionvideo{
    display: flex;
    flex-direction: column-reverse;
    justify-content:center;
    align-items: center;
}
.video img{
    margin-top: 10rem;
    border-radius: 2rem;
}
.textovideo{
    margin-top: 10rem;
    background: #639DCF;
    background: linear-gradient(to left, #ff9494 1%, #d1bbec 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2rem;
}
@media screen and (min-width:768px){
    .seccion0{
        font-size: 2.4rem;
    }
    .seccion0 img{
        width: 35rem;
    }
    .seccion2top{
        font-size: 2rem;
        margin-bottom: 3rem;
        margin-top: 10rem;
    }
    .seccion2top p{
        margin-top: 2rem;
    }
    .seccion2{
        flex-direction:row;
        justify-content: center;
        align-items: center;
    }
    .seccion2 img{
        width:40%;
        align-self: flex-start;
        margin-right: 2rem;
    }
    .seccion2-1{
        display: flex;
        flex-direction: column;
    }
    .capacidad{
        flex-shrink: 0;
        font-size: 1rem;
        width:fit-content;
    }
    .seccioncarrusel{
        margin-top: 10rem;
        flex-direction: row;
        padding: 2rem;
    }
    .textocarrusel{
        font-size: 3rem;
        max-width: 34rem;
        text-align:start
    }
    .seccion0>.comprarahora{
        font-size: 1.6rem;
    }
    .seccionvideo{
        flex-direction: row;
        padding: 2rem;
    }
    .textovideo{
        font-size: 2rem;
        max-width: 34rem;
        text-align:start
    }
}
